{{page-title "ember-supabase"}}

<h2 id="title">ember-supabase</h2>

<p>
  <LinkTo @route="index">Home</LinkTo>
  <LinkTo @route="authentication">Authentication</LinkTo>
  <LinkTo @route="database">Database</LinkTo>
  <LinkTo @route="storage">Storage</LinkTo>
</p>

<p>Authenticated: {{this.session.isAuthenticated}}</p>

<hr />

{{outlet}}