<p>
  <LinkTo @route="database.index">Home</LinkTo>
  <LinkTo @route="database.query">Query</LinkTo>
  <LinkTo @route="database.find-all">Find All</LinkTo>
  <LinkTo @route="database.find-record">Find Record</LinkTo>
  <LinkTo @route="database.create-record">Create Record</LinkTo>
  <LinkTo @route="database.update-record">Update Record</LinkTo>
</p>

{{outlet}}