{{#if this.success}}
  <p>Success!</p>
{{/if}}
{{#if this.error}}
  <p>Error: {{this.error}}</p>
{{/if}}

<label>
  Title
  <Input @value={{this.model.title}} @type="text" />
</label>
<label>
  Body
  <Textarea @value={{this.model.body}} />
</label>
<button type="button" {{on "click" this.update}}>Update</button>